<% @featured_collections.each do |collection| %>    
    
    <h1> Collection <%= collection.name %> </h1>
        
        <ul> 
            <li> <% collection.products.each do |product| %> </li>
            <li><%= product.name %></li>
            <li><%= product.brand %></li>
            <li><%= product.price %></li>
        </ul>
    
    <% end %>  
<% end %>  
