

    <% @products.each do |product| %>
        <h1> <%= product.name %> </h1>
        
        <ul> 
            <li> <%= product.price %> </li>
            <li><%= product.brand %></li>
        </ul>
    
        <% product.categories.each do |category| %>
    
            <ol> 
                <li> <%= category.name %> </li>
            </ol>
            
        <% end %>
    <% end %>
        
    