<style> 

.col-centered{
    float: none;
    margin: 0 auto;
}

</style>


<div class="page-header">
    
</div>

<div class="row">
    <div class="col-md-8 col-centered">
        
        <%= form_tag('amazon_url') do %>
            <div class="col-md-8">
                <%= text_field_tag 'amazone_product_page_url','' ,class: 'form-control', placeholder: 'Paste an Amzon.in URL' %>
            </div>
    </div>
    
      <div><%= submit_tag 'Fetch Product Details', :class => 'btn btn-primary' %></div>

    <% end %>

        
</div>


